<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- Required for Entity Framework -->
		<section name="entityFramework"
                 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>

	<connectionStrings>
		<add name="MyDbConnection"
             connectionString="Server=tcp:epiuseserver.database.windows.net,1433;
             Initial Catalog=EpiuseDB;
             User ID=EpiUseAdmin;
             Password=Database1;
             Encrypt=True;
             TrustServerCertificate=False;
             Connection Timeout=30;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2">
			<assemblies>
				<!-- Keep other assemblies but remove AjaxControlToolkit -->
			</assemblies>
		</compilation>
		<httpRuntime targetFramework="4.7.2" maxRequestLength="4096" />
		<customErrors mode="Off"/>

		<!-- Remove or comment out the pages section with AjaxControlToolkit -->
		<pages controlRenderingCompatibilityVersion="4.0">
			<!-- Remove the AjaxControlToolkit control registration -->
			<controls>
				<!-- Keep other controls but remove AjaxControlToolkit -->
			</controls>
		</pages>
	</system.web>

	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="2147483647"/>
			</webServices>
		</scripting>
	</system.web.extensions>

	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient"
                      type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SqlClient" />
			<add name="SqlClient Data Provider"
                 invariant="System.Data.SqlClient"
                 description=".NET Framework Data Provider for SQL Server"
                 type="System.Data.SqlClient.SqlClientFactory, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		</DbProviderFactories>
	</system.data>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.SqlClient" publicKeyToken="23ec7fc2d6eaa4a5" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<appSettings>
		<!-- Optional: Gravatar Configuration -->
		<add key="GravatarBaseUrl" value="https://www.gravatar.com/avatar/" />
		<add key="GravatarDefaultImage" value="retro" />
		<!-- Other application settings -->
	</appSettings>
</configuration>